body {
    overflow: hidden;
    margin: 0;
}


header {
  width: 100%;
  height: 202px;
  position: relative;
}


footer {
    width: 100%;
    height: 164px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
}

.content {
    position: absolute;
    width: 100%;
    height: 62%;
    bottom: 17%;
}

#menuknop {
    left: 41%;
    position: absolute;
    bottom: 20%;
    border: solid black 5px;
    background-color: #f58220;
    width: 18%;
    height: 48%;
    text-align: center;
    line-height: 243%;
    font-size: 7em;
    color: #000000;
}

#logo {
    position: relative;
    left: 43%;
}

.products {
    position: relative;
    left: 8%;
    padding: 5%;
    font-size: 25px;
    font-family: Georgia, serif;
    background: darkgoldenrod;
    width: 78%;
}

.product-image1 {
    position: relative;
    top: 14%;
}

/* .product-image2 {
    position: absolute;
    left: 31%;
    top: 14%;
}


.product-image3 {
    position: absolute;
    top: 14%;
    left: 60%;
}

.product-image4 {
    position: absolute;
    top: 14%;
    left: 83%;
} */